<div class="container">
   
      <!-- <button class="submits" id='one' type="text" placeholder="" style="text-align: center">asdasd</button>
      <h3 id="twoTxt" class="submit">0</h3>
      <button class="submits" id='two' type="text" placeholder="" style="text-align: center">asdasd</button>
      <h3 id="threeTxt" class="submit">0</h3>
      <button class="submits" id='three' type="text" placeholder="" style="text-align: center">asdad</button> -->

      <div *ngFor="let song of current_songs; let i = index">
            <h3 id="oneTxt" class="submit">{{song.votes}}</h3>

            <button class="btn" [style.background]="buttons[i]" id='one' type="text" placeholder="" style="text-align: center" (click) = "updateVotes(song.id,i) ">{{song.name}}</button>

      </div>
      <h1>{{code}}</h1>
</div>